body {
    max-width: 800px;
    margin: 24px auto;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-image: url(images/blue-snow.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 5opx;
}
body {
    margin: 0;
    float: center;
}
body > main {
    background-color: rgb(251, 251, 240);
    margin: 20px;
}
img {
    float: left;
}
header > nav {
    float: right;
}
article {
    float: center;
    max-width: 700px;
}
/* clearfix */
main::after {
    content: "";
    clear: both;
    display: block;
}
header {
    margin: 35px 0;
    font-size: 20px;
}
a {
    color: cornflowerblue;
}
aside nav a {
    display:block;
    text-align:center;
    padding: 50px
}
.sidebar {
  float: right;
  width: 250px; /* Adjust as needed */
  background-color: rgb(251, 251, 240);
  padding: 50px;

}
footer {
    text-align: center;
    margin: 40px 0 20;
}
/* Github */
.fa-square-github {
  background: #101010;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #012947;
  color: white;
}

/* Stack Overflow */
.fa-stack-overflow {
    background: color#dca707;
    color: white
}

